.title {
    font-family: "Roboto", Sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2em;
}

.info-image {
    width: 50%;
}


.info-container {
    display: flex;
}

.image-container-left img {
    height: 80vh;
    float: left;
    margin-right: 10px;
}

.image-container h2 {
    display: inline-block;
    margin: 0;
}


.info-text {
    color: black;

}



.image-container-right img {
    height: 80vh;
    float: right;

}

.subtitle {
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 1.3;
    font-family: 'Lato', sans-serif;
    color: black;
}

.divider {
    width: 80px;
    border-style: solid;
    color: #0084d6;

}