.carousel{
  max-height: 900px!important;
}
.carousel-root{
  top:0;
}

@media only screen and (max-width: 680px){
  
    .carousel-root{
      position:relative;
      top: 90px!important;
    }

    .chevron{
      display:none;
    }

    .custom-arrow-left,
    .custom-arrow-right {
        display: none;
    }

  
}