.navbar {
    position: sticky;
    top: 0;
    z-index: 20;
    transition: all .5s ease;
    background-color: black !important;
}

.img-logo {
    width: 50%;
}

.button-cart:hover {
    border: 1px solid black;
}

.button-cart {
    margin: 1rem;
}

.cart-widget {
    color: black;
}

.nav-text {
    font-weight: 600;
}

.flex-links {
    margin-right: 45rem;

}


@media screen and (max-width: 600px) {
    .img-logo {
        display: none;
    }
}