.card-container {
    height: 70vh;
    width: 100%;
}

.cardTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Or any other desired height */
}



