.navbar {
    position: sticky;
    top: 0;
    z-index: 20;
    transition: all .5s ease;
    background-color: black !important;
}


.img-logo {
    width: 50%;
}

.button-cart:hover {
    border: 1px solid black;
}

.button-cart {
    margin: 1rem;
}

.cart-widget {
    color: black;
}

.nav-text {
    font-weight: 600;
}

.flex-links {
    height: 100%;
    text-align: center;
}

.nav-text {
    position: relative;
  }
  
  .nav-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white; /* Color del subrayado */
    transition: width 0.3s ease; /* Duración de la animación */
  }
  
  .nav-text:hover::after {
    width: 100%; /* Ancho completo */
  }
  
@media screen and (min-width: 720px) {

    .hamburger-menu {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .img-logo {
        display: none;
    }
}