.container {
    height: 100%;
    padding-top: 10rem;
}

.title {
    padding-top: 30px;
    margin-bottom: 60px;
    font-size: 3.3rem;
    font-weight: 600;
    color: black;
    line-height: 1.5;
    font-style: "Roboto";
}

.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    gap: 1.5rem;
    padding: 60px;
    padding-bottom: 40px;

}

.flex-container-title {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    gap: 1.5rem;
    padding-bottom: 40px;
}

.img-obras {
    width: 50%;
    padding-left: 1rem;
}

.title-obras {
    font-size: 25px;
    font-weight: 600;
    color: black;

}

.libertador-residence {
    margin-right: 60px;
}

.img-obras-container {
    height: 100%;
}